services:
  web:
    image: eventdrop-web
    build:
      context: ../..
      dockerfile: docker/prod/Dockerfile.prod
      args:
        VITE_MAIN_DOMAIN: // if empty auto detected - ${MAIN_DOMAIN:-localhost}
        VITE_API_BASE_URL: ${API_BASE_URL:-}
    environment:
      - UPLOAD_MAX_TOTAL_SIZE_BYTES=${UPLOAD_MAX_TOTAL_SIZE_BYTES:-0}
    ports:
      - "${HTTP_PORT:-8080}:80"
    depends_on:
      - api

  api:
    image: eventdrop-api
    build:
      context: ../..
      dockerfile: docker/Dockerfile
      target: prod
    environment:
      - PORT=8080
      - DATA_ROOT_PATH=/data/parties
      - MAIN_DOMAIN=${MAIN_DOMAIN:-localhost}
      - ENABLE_API_DOCS=${ENABLE_API_DOCS:-false}
      - UPLOAD_MAX_FILE_SIZE_BYTES=${UPLOAD_MAX_FILE_SIZE_BYTES:-0}
      - UPLOAD_MAX_TOTAL_SIZE_BYTES=${UPLOAD_MAX_TOTAL_SIZE_BYTES:-0}
    volumes:
      - party-data:/data/parties
    expose:
      - "8080"

volumes:
  party-data:

