services:
  web:
    image: beberhardt/eventdrop-web:latest
    build:
      context: ../..
      dockerfile: docker/prod/Dockerfile.prod
      args:
        VITE_API_BASE_URL: ${API_BASE_URL:-}
    environment:
      - UPLOAD_MAX_TOTAL_SIZE_BYTES=${UPLOAD_MAX_TOTAL_SIZE_BYTES:-0}
    ports:
      - "${HTTP_PORT:-8080}:80"
    depends_on:
      - api

  api:
    image: beberhardt/eventdrop-api:latest
    build:
      context: ../..
      dockerfile: docker/Dockerfile
      target: prod
    environment:
      - PORT=8080
      - DATA_ROOT_PATH=/data/events
      - MAIN_DOMAIN=${MAIN_DOMAIN:-localhost}
      - ALLOWED_DOMAINS=${ALLOWED_DOMAINS:-localhost}
      - SUPPORT_SUBDOMAIN=${SUPPORT_SUBDOMAIN:-true}
      - ALLOW_EVENT_CREATION=${ALLOW_EVENT_CREATION:-true}
      - ENABLE_API_DOCS=${ENABLE_API_DOCS:-false}
      - UPLOAD_MAX_FILE_SIZE_BYTES=${UPLOAD_MAX_FILE_SIZE_BYTES:-0}
      - UPLOAD_MAX_TOTAL_SIZE_BYTES=${UPLOAD_MAX_TOTAL_SIZE_BYTES:-0}
    volumes:
      - ./data:/data/events
      - ./config:/config
      # - event-data:/data/events
    expose:
      - "8080"

volumes:
  event-data:
